html {
    background: linear-gradient(45deg, rgb(239 68 68), white);
    height:100%;
}

#pokemon-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(img/background.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
