body {
    background: linear-gradient(210deg, rgb(239 68 68) 40%, black 45%, white 70%);
    height:100vh;
    background-repeat: no-repeat;
}

#pokemon-box {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(img/background.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

